/***********상세페이지_모달***************/
.modal {
    width: 100%;
    height: 100%;
    color: #707070;
    text-align: left;
    display: none;
    position: fixed;    
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    overscroll-behavior: contain;
    overflow: scroll;
    -ms-overflow-style: none;
    background-color: rgba(0,0,0,0.7);
}
.modal::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
.blur {
  filter: blur(4px);
}
.modal .modal-layout {
    width: 1280px;
    margin: 30px auto;
    padding-top: 80px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: -50px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    /* overflow: hidden; */
}
.modal .title {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px 16px;
    font-size: 22px;
    font-weight: 700;
}
.modal .divider {
    width: 50px;
    background-color: #aaa;
    margin-bottom: 16px;
    margin-left: 40px;
}
.modal .content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 40px 14px;
}
.modal .content a {
    color: #fff;
    font-weight: bold;
    line-height: 32px;
}
.modal .con-img img{
    max-width: 1280px;
    margin: 0 auto;    
    margin-top: 20px;
    display: block;
    overflow: hidden;
}

/**모바일 미디어쿼리**************************************/
@media all and (max-width: 1340px) {
    .modal {
        z-index: 99;
        margin-top: -30px;
    }
    .modal .modal-layout {
        width: 100%;
        padding-top: 70px;
        border-radius: 0;
    }
    .modal .close {
        right: 15px;
        top: 15px;
        background-color: rgba(0,0,0,0.4);
    }
    .modal .con-img img{
        max-width: 100%;
        height: auto;
    }
}